.order-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    border: 3px solid #edff00;
    border-radius: 30px;
    color: white;
    font-size: 20px;
    padding: 10px;
    margin-bottom: 5px;
    background: rgba(0, 0, 0, 0.59);
}

.img-mini {
    width: 50px;
}

.btn-delete {
    border: none;
    background: url(../../assets/images/delete.png) no-repeat center;
    background-size: contain;
    display: block;
    width: 60px;
    height: 60px;
}

.btn-delete:active {
    border-radius: 50%;
    box-shadow: 0 0 10px 0 rgba(34, 60, 80, 0.87);

}

.order-details {
    display: flex;
    flex-direction: column;
    width: 35%;
    min-height: 650px;
    background: rgba(128, 128, 128, 0.56);
    border: 3px solid #fff200;
    margin: 20px;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
}