.App {
    display: flex;
    height: 100%;
}

body {
    background: url("https://img.freepik.com/premium-photo/pattern-hamburgers-fries-with-words-fast-food-it_900958-8898.jpg?w=1380") no-repeat;
    background-size: cover;
}
